{#-
 # ==============================================================================
 # TableCompiler Template
 # Copyright (c) 2025, Alex Liao. All rights reserved.
 #
 # This template is part of the TableCompiler project.
 # ==============================================================================
-#}

// ==============================================================================
//  templates/ts_interface.ts.j2
//  用于生成标准表中的数据接口/类，或可复用的自定义类型。
// ==============================================================================
import { DataReader } from "../data_reader";
{% for statement in import_statements -%}
{{ statement }}
{% endfor %}

/**
 * @interface I{{ class_name }}
 * {{ struct_comment }}
 */
export interface I{{ class_name }} {
    {% for field in fields %}
    /**
     * {{ field.comment }}
     */
    readonly {{ field.name }}: {{ field.type }};
    {% endfor %}
}

{# --- 这是一个递归宏，用于生成TS的读取逻辑 --- #}
{%- macro read_logic(variable_name, read_info) -%}
    {%- if read_info.is_collection -%}
    const {{variable_name}}_count = reader.getInt32();
    const {{variable_name}}_arr: {{read_info.type}} = new Array({{variable_name}}_count);
    for (let i = 0; i < {{variable_name}}_count; i++) {
        let {{variable_name}}_item: {{ read_info.list_item.type }};
        {{- read_logic(variable_name + "_item", read_info.list_item) -}}
        {{variable_name}}_arr[i] = {{variable_name}}_item;
    }
    {{variable_name}} = {{variable_name}}_arr;
    {%- elif read_info.is_complex -%}
    {{variable_name}} = {{read_info.type}}.read(reader);
    {%- elif read_info.is_enum -%}
    {{variable_name}} = reader.getInt32() as {{read_info.type}};
    {%- elif read_info.read_method == 'readString' -%}
    {{variable_name}} = reader.readString();
    {%- elif read_info.read_method == 'getBoolean' -%}
    {{variable_name}} = reader.getBoolean();
    {%- else -%}
    {{variable_name}} = reader.{{read_info.read_method}}(true);
    {%- endif -%}
{%- endmacro -%}

export class {{ class_name }} {
    /**
     * @param {DataReader} reader
     * @returns {I{{ class_name }}}
     */
    public static read(reader: DataReader): I{{ class_name }} {
        const obj: I{{ class_name }} = {} as any;
        {% for field in fields %}
        let {{field.name}}: {{field.type}};
        {{ read_logic(field.name, field.read_info) }}
        obj.{{field.name}} = {{field.name}};
        {% endfor %}
        return obj;
    }
}
